/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}





body {
    margin: 0;
    font-family: 'Press Start 2P', monospace;
    color: #fff;
    line-height: 1.7;
}

#game {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #333;
    overflow: hidden;
    user-select: none;
}

#game * {
    box-sizing: border-box;
}

div#simon_space {
    position: absolute;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#simon {
    position: relative;
    width: 80%;
    max-width: 30em;
    user-select: none;
}

div#screen {
    position: absolute;
    top: 8%;
    left: 7%;
    width: 72%;
    height: 75%;
    box-shadow: inset 0 0 3em 0em #ffffff;
    background-size: cover;
    background-position: center;
    background-image: url(images/static_fizzle.gif);
}

.loading div#screen {
    background-image: url(images/static_colors.gif);
}

.playing #screen.showColor {
    background-image: none !important;
    box-shadow: inset 0 0 50em, inset 100vw 0 #ffffffaa;
}

div#screen_text {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 55%;
    height: 50%;
    overflow: hidden;
}

div#screen_text {
    display: flex;
}

div#screen_text > div {
    display: flex;
    width: 100%;
    height: 100%;
}

div#msg_screen {
    justify-content: center;
    align-items: center;
}

div#simon_msg {
    text-align: center;
    max-width: min-content;
    font-size: 1.7em;
    opacity: .9;
}

div#simon_height {
    padding-top: 75%;
}

#simon img {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}

div#ui_main {
    transform: translateX(-50%) perspective(100vh) rotateX(20deg);
    transform-origin: bottom;
    position: absolute;
    bottom: 1em;
    left: 50%;
    width: 100%;
    max-width: 40em;
    height: 65%;
}

div#backToMenu {
    max-width: 6em;
    height: 4em;
    font-size: 0.7em;
}

div.menuView {
    height: calc(98% - 2rem);
    position: relative;
    width: 100%;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.button {
    flex-grow: 1;
    width: 40%;
    min-width: min-content;
    height: 7rem;
    border: .2em solid;
    margin: .2em;
    border-top-color: #ffffff66;
    border-left-color: #ffffff33;
    border-right-color: #00000033;
    border-bottom-color: #00000066;
    outline: 1px solid #00000055;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.button.inline {
    width: auto;
}

.button:hover {
    border-width: .12em;
    box-shadow: inset 100vw 0 #ffffff33;
}

.button:active {
    box-shadow: inset 0 0 6em,
                inset 500vw 0 #ffffffaa,
                0 0 1.5em -0.2em,
                0 0 1em -0.2em #ffffffbb;
    z-index: 10;
}

.button > div {
    color: #fff;
}

#menu .button {
    font-size: 1.5em;
    padding: 0.5em;
}

#userConsole:not(.playerTurn)::after {
    content: "Pay Attention!";
    position: absolute;
    top: calc(50% - 1em);
    font-size: 1.3rem;
}

#userConsole:not(.playerTurn) div.button {
    pointer-events: none;
    opacity: .5;
}

#gameOver {
    text-align: center;
}

div#scoreBoard {
    scroll-snap-type: x mandatory;
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div#scoreBoard > div {
    position: relative;
    width: 100%;
    height: 98%;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    scroll-snap-align: center;
    white-space: normal;
    padding: 1em;
}

#scoreBoard .header {
    text-align: center;
}

.scoreRow {
    display: flex;
    width: 100%;
}

.scoreRow:first-of-type {
    font-size: 1.3em;
}
.scoreRow:not(.isUser) {
    color: inherit !important;
}

.rank {
    min-width: 4rem;
    text-align: right;
    padding-right: 1em;
}

.spacer {
    flex-grow: 1;
    border-bottom: .15em dotted;
    margin: 0 .5em;
    opacity: .7;
}


div#logout {
    position: absolute;
    top: 0;
    right: 0;
    padding: .25em;
    font-size: 2em;
    cursor: pointer;
}

div#logout::before {content: '\00d7';}


.buttonContainer form {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
}

.buttonContainer form input {
    height: 3rem;
    font-family: inherit;
    color: #fff !important;
    box-shadow: none !important;
}

.buttonContainer form input[type="text"] {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: .2em solid;
    width: 75%;
    font-size: 1.5em;
}

form input[disabled] {
    background-color: #aaa !important;
    cursor: not-allowed;
}